 nav {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 16px;
            background-color: #8d99a1;
            justify-content: space-between;
          }

          
